/* цвет акцент #2196F3 
белый цвет #FFFFFF
цвет фона секции темный #2F303A 
цвет фона секции серый #F5F4FA 
 цвет фона секции беловатый #F5F5F5
 цвет текста #212121
 цвет абзаца #757575
*/

:root {
    --accent-color: #2196F3;
    --heder-bg-color: #FFFFFF;
    --primery-bg-color: #2F303A;
    --section-one-color: #F5F5F5;
    --section-two-color: #F5F4FA;
    --primery-text-color: #212121;
    --paragraph-text-color: #757575;
    --clients-color: #AFB1B8;
}

body {
   color: var(--primery-text-color);

   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
   }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

/* header */

.page-header {
    background-color: var(--heder-bg-color);
    border-bottom: 1px solid #ECECEC;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* logo */

.logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-item  {
    color: var(--accent-color);
}

/* site nav */
.conteiner-nav {
    display: flex;
    }

.page-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-nav .icon {
    display: block;
    fill: currentColor;
      margin-right: 10px;
    }

.auth-nav .icon:hover,
.auth-nav .icon:focus {
    fill: var(--accent-color);
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .link {
    display: flex;
    color: var(--paragraph-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* hero */


.hero {
    background-color: var(--primery-bg-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 452px;
    padding-right: 452px;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/herophone.jpg);
    background-size: cover;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* section */
.section.features {
    padding-bottom: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    }

.features-icons {
    padding: 25px 100px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
   background-color: var(--section-two-color);
}  
    

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }

/* features */

.features-list {
    display: flex;
 
}

.features-list .item {
    flex-basis: calc((100% - 3 * 30px) / 4);
       }

.features-list .item + .item {
    margin-left: 30px;
}

.features-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list .text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--paragraph-text-color);

    font-size: 14px;
    line-height: 1.71;
}

/* our work */

.work-list {
    display: flex;
    justify-content: space-between;
}

/* Our team */

.section.team {
    background-color: var(--section-two-color);
}
.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list-item {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }

.team-list .title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
        }

.team-list .text{
    margin-top: 10px;
    margin-bottom: 16px;
    color: var(--paragraph-text-color);
     line-height: 1.19;
}

.team-icons {
    display: flex;
    justify-content: space-between;
    }

 
.team-icons .item {
   
   }

.team-icons .link {
    display: block;
    color: var(--clients-color);
    width: 44px;
    height: 44px;
    padding: 12px 12px;
    border-radius: 50%;
}

.team-icons .icon {
    fill: currentColor;
}

.team-icons .link:hover,
.team-icons .link:focus {
    background-color: var(--accent-color);
    color: var(--heder-bg-color);
}

.team-icons .icon:hover,
.team-icons .icon:focus {
    fill: currentColor;
}


.conte-one {
    width: 270px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
    background-color: var(--heder-bg-color);
    border-radius: 0px 0px 4px 4px;
    }


/* Clients */

.clients-list {
    display: flex;
    justify-content: space-between;
   }

.clients-list .link {
    display: flex;
    width: 170px;
    height: 92px;
    color: var(--clients-color);
    border: 1px solid var(--clients-color);
    border-radius: 4px;
    padding: 16px 32px;
   }

.clients-list .icon {
    fill: currentColor;
}

.clients-list .link:hover,
.clients-list .link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.clients-list .icon:hover,
.clients-list .icon:focus {
    fill: currentColor;
   }


/* footer */

.page-footer {
   padding-top: 60px;
   padding-bottom: 60px;
    background-color: var(--primery-bg-color);
 
    }

.logo.footers {
    display: block;
    margin-bottom: 20px;

      color: #FFFFFF;
}

.page-footer .text {
   margin-top: 0;
    margin-bottom: 9px;
    color: #FFFFFF;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.page-footer .link {
       color: rgba(255, 255, 255, 0.6);;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.page-footer .item {
    margin-bottom: 9px;
}

.page-footer .item:last-child {
    margin-bottom: 0px;
}

.page-footer .link:hover,
.page-footer .link:focus {
    color: var(--accent-color);
}

.page-footer .title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: #FFFFFF;
    }

    /* Come */

    .come {
        width: 206px;
        height: 80px;
        margin-left: 70px;
        padding: 0 0;
        }

    .come .link {
    display: block;
    color: var(--heder-bg-color);
    width: 44px;
    height: 44px;
    padding: 12px 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    }

    .come .icon {
        fill: currentColor;
    }

    .come .list {
        justify-content: space-between;
    }
    
    .foot-conte {
        display: flex;
        }
    
    .come .list {
        display: flex;
        padding: 0 0;
    }

    .come .link:hover,
    .come .link:focus {
        background-color: var(--accent-color);
        color: var(--heder-bg-color);
    }

    .come .icon:hover {
        fill: currentColor;
    }
    
.foot-conte {
    align-items: baseline;
}


/* PORTFOLIO
 */

 /* filtr */

 .filtr-page {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    }

.filtr-page .item + .item {
    margin-left: 8px;
}

.button-filtr {
    color: #000000;
    background-color: var(--section-two-color);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em
}

.button-filtr.all {
    padding-left: 25px;
    padding-right: 25px;
}

.button-filtr:hover,
.button-filtr:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
       
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Works */

.section-portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-works .link {
    display: block;
    text-decoration: none;
   color: inherit;
}

.portfolio-works .link:hover,
.portfolio-works .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-works {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    }

    .portfolio-works .item {
        margin-top: 30px;
        margin-left: 30px;
    }


.conte {
    padding: 24px 20px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}


.portfolio-works .title {
    margin-bottom: 4px;
    margin-top: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-works .text {
    color: var(--paragraph-text-color);
    margin-bottom: 0;
    margin-top: 0;

    line-height: 1.88;
}

